In [2]:
### PANDAS

import pandas as pd

cities = ['Abd','Surat','Rajkot','Mumbai']
ds=pd.Series(cities)
print(ds)
print(type(ds))

0       Abd
1     Surat
2    Rajkot
3    Mumbai
dtype: object
<class 'pandas.core.series.Series'>

In [3]:
import pandas as pd

a = [10,20,30,40]
ds=pd.Series(a)
print(ds)
print(type(ds))

0    10
1    20
2    30
3    40
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
import pandas as pd

cities = ['Abd','Surat','Rajkot','Mumbai','Delhi']
temp=[35,37,38,37,39]
ds=pd.Series(temp,index=cities,name='weather')
print(ds)
print(type(ds))

Abd       35
Surat     37
Rajkot    38
Mumbai    37
Delhi     39
Name: weather, dtype: int64
<class 'pandas.core.series.Series'>

In [10]:
import pandas as pd

marks = {'A':55, 'B':65, 'C':85}
ds1=pd.Series(marks,name='result')
print(ds1)
print(ds1.name)
print(ds1.size)

A    55
B    65
C    85
Name: result, dtype: int64
result
3

In [14]:
import pandas as pd

movie = pd.read_csv('bollywood.csv',index_col='movie',squeeze=True)
print(movie)
print(type(movie))

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object
<class 'pandas.core.series.Series'>

In [19]:
# Data Frame

import pandas as pd

data = {'cal':[420,400,320,350], 'duration':[50,45,35,48]}
df=pd.DataFrame(data)
print(df)
print(type(df))
df.to_csv('file1.csv')
print(df.loc[0])
print(df.loc[[1,2]]) # first two rows
print(df.loc[:,'cal']) # all rows of cal column

   cal  duration
0  420        50
1  400        45
2  320        35
3  350        48
<class 'pandas.core.frame.DataFrame'>
cal         420
duration     50
Name: 0, dtype: int64
   cal  duration
1  400        45
2  320        35
0    420
1    400
2    320
3    350
Name: cal, dtype: int64

In [25]:
import pandas as pd

data = {'cal':[420,400,320,350], 'duration':[50,45,35,48]}
df = pd.DataFrame(data,index=['d1','d2','d3','d4'])
print(df)
print(df.loc['d2'])
# print(df.iloc['d2']) # error
print(df.iloc[1])
print(df[::2])

    cal  duration
d1  420        50
d2  400        45
d3  320        35
d4  350        48
cal         400
duration     45
Name: d2, dtype: int64
cal         400
duration     45
Name: d2, dtype: int64
    cal  duration
d1  420        50
d3  320        35

In [39]:
import pandas as pd

df1 = pd.read_csv('diabetes.csv')
# print(df1)
# print(df1.to_string()) # scrollable complete output
# x=df1.iloc[:,0:1] # all rows and one column
# print(x)
# y=df1.iloc[:,-1] # all rows last column
# print(y)
# print(type(y)) # series
# print(df1.loc[:,'Age']) # all rows and Age column

df1.head() # first 5 rows
df1.head(7) # first 7 rows
df1.tail() # last 5 rows
df1.tail(3) # last 3 rows
df1.info() # information about data frame

df1.describe() # statistical analysis of data frame

df1.corr() # correlation between columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000